body
  height: 100vh
  background: linear-gradient(#f75622, #f7a222)
  display: flex
  align-items: center
  line-height: 1

  .wrapper
    flex: 1
    color: white  
    font-family: 'Lato', sans-serif
    font-size: 3vw

    .row
      margin: 8vw 20vw

    .box
      font-family: 'Anton', sans-serif
      background-color: #fff 
      color: #f75622
      font-size: 100%
      border-radius: .5vw
      padding: 2vw
      .text
        font-size: 40%
        margin: 0
      
    
    .daysLeft
      color: white
      font-family: 'Anton', sans-serif
      font-size: 15vw

    #randomPhrase
      margin-top: 10vw
      font-family: 'Anton', sans-serif
